<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">All Reads</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div read-list items='items'></div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" type="button" aria-label="Add More"  ng-click="addReadItems($event)">Add</md-button>
        <md-button class="md-raised" type="button" aria-label="Save"  ng-click="saveReads()"> Save</md-button>

    </md-card-actions>
</md-card>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Summary</h3>
    </div>

    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="(key, value) in total">
                Read {{(key * 1) + (1)}} {{ value }}
            </li>
            <li class="list-group-item" >
                Total: {{ totalLength }}
            </li>

        </ul>
    </div>
</div>

